<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{{ word }}</title>
</head>
<body style="margin:1em;padding:1em">
<form class="float-right" method="POST">
    <p><input class="btn btn-success" type="submit" name="next" value="Next"/></p>
</form>
<h1 class="text-center m-4 p-2">{{ word }}</h1>
<h3 class="m-4">Definitions</h3>
<ul class="list-group">
    {% for definition in definitions %}
        <li class="list-group-item">{{ definition }}</li>
    {% endfor %}
</ul>
<h4 class="m-4">Synonyms</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        {% for synonym in synonyms %}
            <td data-th>{{ synonym }}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<h4 class="m-4">Images</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        {% for image in images %}
            <td data-th><img src={{ image }} alt="" border=3 height=200 width=200></td>
        {% endfor %}
    </tr>
    </tbody>
</table>
<form class="form-group justify-content-center" method="POST">
    <p>Check meaning:
        <input class="form-group mx-sm-3 mb-2" type="text" name="Word"/>
        <input class='btn btn-info' type="submit" name="word" value="submit"/>
    </p>
</form>
</body>
</html>
